@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.get-started{
    margin:75px  auto 30px  ;
}
.get-started-head{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin: 24px 0 32px;
    line-height: 120%;
    letter-spacing: 1px;
    text-align: center;
}
.app-sample{
    display: flex  ;
    justify-content: center;
    align-items: center;
}

.sample-img{
    display: block;
    /* margin: auto 30px; */
    width: 475px;
    height: 430px;

}
.img-bg{
    background-color: #f5f6fa;
    border-radius: 14px;
    padding: 10px;

}
.right-detail-started{
    max-width: 500px;
    margin: 20px;
}
.detail-sec{
    display: flex  ;
    /* justify-content: center; */
    align-items: center;
    margin: 25px auto;
}
.about-points-started{
    padding-left: 25px;
}
.point1{
font-size: 20px;
font-weight: 600;
padding-bottom: 10px;
font-family: 'Inter', sans-serif;
}
.point2{
font-size: 18px;
font-weight: 400;
font-family: 'Inter', sans-serif;
}
@media (min-width:350px) and (max-width:750px){
    .app-sample{
        display: flex  ;
        flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .sample-img{
        width: 359px;
        height: 350px;
        margin-top: 30px;
    }
    .get-started-head{
        font-size: 26px;
    }
    .point1{
        font-size: 18px;
    }
    .point2{
        font-size: 16px;
    }
}