@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.feature-section{
    margin: 50px auto;  
}

.feature-head{
   font-family: 'Inter', sans-serif;
    font-size: 44px;
    font-weight: 800;
    margin: 24px 0;
    line-height: 120%;
    letter-spacing: 1px;
    text-align: center;
}
.detail-head{
   font-family: 'Inter', sans-serif;
    font-size: 45px;
    font-weight: 700;
}
.feature-img1{
    height: 450px;
    width: 450px;
}
.feature-img2{
    height: 450px;
    width: 400px;
}
.detail2{
    display: block;
    max-width: 545px;
    margin: auto 20px auto 70px;
}
.detail1{
    display: block;
    max-width: 545px;
    margin: auto 70px auto 20px;
}
.detail-list{
  
    padding-inline-start: 0;
   font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-align: left;
    /* margin: auto 10px; */
   
    line-height: 140%;
    list-style: none;
}
.detail-list li{
    margin-bottom: 30px;
    position: relative;
    padding-left: 45px !important;
}

.detail-list li::before{
    font-size: 28px;
    font-family: "Font Awesome 5 Free";
    content: "\f058";
    font-weight: 900;
    position: absolute;
    left: 0px;
    top: 5px;
    color: #edd502;
}
.detail-list-points{
    display: flex;
    align-items: center;
    justify-content: start;
}


.cont-1,.cont-2{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 65px auto 85px;
}
.detail-para{
    text-align: left;
    padding-left: 15px;
}

@media (min-width:350px) and (max-width:1024px) {
    .cont-1{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 25px auto !important;
    }
    .cont-2{
        display: flex;
        flex-direction: column-reverse;
        margin: 25px auto !important;
    }
    .detail1,.detail2{
        margin: auto;
        text-align: center;
    }
    .detail-list{
        padding: 0 40px;
    }
    .feature-img1{
        height: 350px;
        width: 350px;
    }
    .feature-img2{
        height: 350px;
        width: 300px;
    }
}