@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.ant-modal-footer{
    padding: 0px 16px 30px !important ;
text-align: center !important;
}
.ant-modal{
    max-width: calc(40vw - 32px) !important;
}
.ant-modal-content{
    border-radius: 20px !important;
}
.ant-btn-primary {
    
    border-radius: 8px !important;
    height: 50px !important;
    color: #edd502 !important;
    background: #0f2310 !important;
    border: none !important;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 600 !important;
}
.Rocket-img{
    display: block;
    margin: auto;
    width: 100px;
    margin-bottom: 50px;
    height: 100px;
}
@media (min-width:350px) and (max-width:1024px) {
  
    .ant-modal{
        max-width: calc(70vw - 32px) !important;
    }

}