.early-bird-cont{
   
    background: linear-gradient(105.76deg, rgba(255, 126, 17, 0.2) 1.35%, rgba(1, 31, 26, 0.2) 100%);
    padding: 72px 190px;
}
.early-bird-head{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 150%;
color: #011F1A;
}
.form-early-access{
    display: flex;
    flex-direction: column;
    margin: 25px 0px 15px ;
    width: 375px;

}
@media (min-width:325px) and (max-width:999px) {
    .early-bird-cont{
        padding: 129px 25px;
    }
    .early-bird-head{
        font-size: 32px;
    }
    .form-early-access{
        width: auto;
    }
}
