.nav-comp{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #16312c;
    padding: 30px 120px 20px;
    position: sticky;
    top: 0;
    z-index: 10000;
}

.logo-cont{

}

.logo-name{
font-size: 24px;
font-weight: 600;
line-height: 36px;
letter-spacing: 0em;
text-align: left;
color:#FFFFFF;
}
.routes{
    display: flex;
    align-items: center;
}
.route-name{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;  
color: #F1F3F2;
margin-right: 24px;
cursor: pointer;
}
.route-name:hover{
    color: #FFC300;
}
.join-cta{
    padding: 18px 36px;
    background: linear-gradient(96.31deg, #FBE043 -16.31%, #FF7E11 100%);
    border-radius: 10px;
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
text-transform: capitalize;
color: #111310;
cursor: pointer;
}