.footer-section{
    background: #011F1A;
    padding: 80px 120px 30px;
}
.footer-detail{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 64px;
    border-bottom:1px solid #A6A6A6 ;
}

.crypit-name{
    font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 150%;
color: #FFFFFF;
}
.footer-description{
    font-style: normal;width: 304px;
font-weight: 500;
font-size: 18px;
line-height: 150%;
color: #A6A6A6;
margin-top: 34px;
}

.follow-handles{
    display: flex;
    align-items: center;
    margin-top: 56px;
}
.footer-part{
    display: flex;
    align-items: center;
}
.footer-part-title{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #F1F3F2;
    margin-bottom: 24px;
}

.footer-part1, .footer-part2{
    padding-right: 140px;
}
.contact-us-desc{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
width: 228px;
color: #A6A6A6;
}
.footer-reserved{
    font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 150%;
color: #A6A6A6;
padding-top: 24px;
}