@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');;

.ant-input:focus, .ant-input-focused{
    border-color: #0f2310;
    box-shadow: 0 0 0 2px rgb(15 35 16 / 20%);
    border-right-width: 1px;
}
.connect-sec{
margin: 50px 150px;
}
.connect-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
}

.connect-head2{
    font-family: 'Inter', sans-serif;
    font-size: 44px;
    font-weight: 800;
    line-height: 120%;
    letter-spacing: 1px;
}
.connect-head2::after{
    height: 6px;
    width: 60px;
    content: "";
    display: block;
    margin-top: 18px;
    /* margin: 18px auto 0; */
    background: #edd052;
}
.connect-info-box{
    background-color: #f5f6fa;
    margin: 10px 0;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
    padding:30px 60px;
    border: 1px solid var(--light-gray);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 30px;
    cursor: pointer;
}
.connect-info-box2{
    width: 500px;
    margin: 10px 0;
    box-shadow: 0px 0px 20px 0px rgb(0 0 0 / 10%);
    padding:30px ;
    border: 1px solid var(--light-gray);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    margin-bottom: 30px;
    cursor: pointer;
}
.connect-head{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 700;
margin:10px auto 5px;
    line-height: 120%;
    letter-spacing: 1px;
  
}
.btn-connect{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
  
}
@media (min-width:350px) and (max-width:750px) {
    .connect-head2{
        font-size: 28px;
    }
    .connect-head{
        font-size: 20px;
    }
    .connect-sec{
        margin: 50px 20px;
        }
        .connect-info-box{
            padding:15px;
        }
}