@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


.feature-cta{
    margin: 75px 75px 50px;
}
.cta-head{
    font-family: 'Inter', sans-serif;
    font-size: 44px;
    font-weight: 800;
    margin: 24px 0;
    line-height: 120%;
    letter-spacing: 1px;
}
.cta-para{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.cta-links{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.lets-contact{
    position: relative;
    background-color: rgb(237, 208, 82,0.4);
    width: 600px;
    padding: 30px;
    border-radius: 12px;
    margin-right: 50px;
}
.lets-contact h3{
    margin-top: 225px;
}
.lets-contact p{
   color: #3f3f3f !important;
}
.faq-notion{
    position: relative;  
    background-color: #f5f6fa;
    width: 600px;
    padding: 30px;
    border-radius: 12px;
      
}
.faq-notion h3{
    margin-top: 225px;
}

.lets-contact .floating-img1{
    position: absolute;
    top: 140px;
    left: 160px;
    width: 166px;
}
.faq-notion .floating-img2{
    position: absolute;
    bottom: 107px;
    width: 186px;
    right: 229px;
}
@media (min-width:350px) and (max-width:1024px) {
    .cta-head{
        font-size: 28px;
        margin: 10px 0;
        text-align: center;
    }
    .cta-para{
        font-size: 18px;
        text-align: center;
    }
    .lets-contact{
        margin-right: 0;
        margin-bottom: 30px;
    }
    .lets-contact p{
        font-size: 18px;
    }
    .faq-notion p{
        font-size: 18px;
    }
.feature-cta{
    margin: 75px 15px 50px;
}
.faq-notion,.lets-contact{
    width:350px;
}
.lets-contact .floating-img1{

    top: 140px;
    left: 96px;
 
}
.faq-notion .floating-img2{

    bottom: 107px;
    right: 105px;
}
}